:root {
    --font-headings : 'Nanum Myeongjo', serif;
    --page-heading:'Dosis', sans-serif;
    --font-links : 'Manrope', sans-serif;
    --font-superheads: 'Zen Tokyo Zoo', cursive;
    
    --vvbig-font-size: 4rem;
    --vbig-font-size: 3rem;
    --big-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size:1.125rem;
    --bnormal-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --main-color: #065446;
    --counter-color: #197163;
    --contrast-color: #FADCAC;
    --last-color:#158467;
    --deep-color:#001d17;

    --in-bg:#E1E8EB;
    --bt-deep:#343A40;
}
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin : 0;
    width: 100%;
    color: var(--contrast-color);
    background: var(--deep-color);
   
}
html {
    scroll-behavior: smooth;
}


.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    width:100%;
    height: fit-content;
    justify-content: space-between;
    opacity: 90%;
    background-color:var(--main-color);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 1.5px 3px 4.5px white;
    
    z-index: 900;

}
#cross {
    display: none;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--big-font-size);
}
#btt {
    display: none;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--vbig-font-size);
    flex-direction: row;
    justify-content: right;
    width: fit-content;
    align-items: center;
    margin-right: 1rem;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    align-items: center;
    font-family: var(--font-headings);
    color: var(--contrast-color);
    font-size: var(--big-font-size);

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: fit-content;
    align-items: center;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--normal-font-size);
    transition: all 1s ease 0s;
    
}

.logo {
   width: 8rem;
   height: 6rem;
   margin: 1rem;
}

.linkitem {
    margin: 1.75rem;
}

.linkitem:hover {
    color:white;
}



/* .banner {
    background: rgb(6,84,70);
    background: linear-gradient(180deg, rgba(6,84,70,1) 50%, rgba(255,255,255,1) 100%);
    width: 100%;
    height: 500px;
    
}
.contact{
    padding-top: 12rem;
    padding-left : 2rem;
}
.contact h1{
    display: inline;
    margin: 0;
    font-family: 'Dosis', sans-serif;
    color: white;
} */
.banner{
    display: flex;
    justify-content: center;
    box-shadow: 1px 2px 3px var(--deep-color)
}
.cntbanner {
    padding-top: 8vh;
    width: 50%;
    height: 7%;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: var(--main-color);  
    padding-top: 1rem; 
}

.social{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.scoaillink {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    
    
}

.bitem{
    display: inline;
    font-family: var(--font-links);
    color: white;
    font-size: var(--big-font-size);
    margin: 0.2rem;
    width: fit-content;
}
.arr{
    color: var(--contrast-color);
    font-family: dinpro, sans-serif;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

#qform {
    width: 60%;
}

.subhead {
    padding-left: 2rem;
}


#fquery {
    height: 15rem;
}


.container {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}

p {
    padding-right: 2rem;
}






.thelink {
    text-decoration: none;
    color: var(--contrast-color);
}

.thelink:hover{
    color: white;
}

/* try */
.newattr{
    display: flex;
    justify-content: center;
    width: 100%;
    padding:0rem;
    color: var(--in-bg);
    
    border: 1px solid var(--deep-color);
    border-radius: 0.2rem;
    margin: 1rem auto 1rem auto;
    background: var(--in-bg);
}

.newattr input{
    flex-grow: 3;
    border:0;
    margin: 0;
    padding:0.5rem 0 0.5rem 0;
    padding-left: 0.1rem;
    background: white;
    
}

.newattr span{
    background: var(--main-color);
    border-left: 1px solid var(--bt-deep);
    padding: 0;
    padding:0.5rem 0.5rem 0.5rem 0.2rem;
    transition: all 1s ease;
    cursor: pointer;
    user-select: none;
    
    

}

.newattr span:active{
    background: var(--in-bg);
    color: var(--bt-deep);
}

.cp {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.cps{
    width: 30%;
    height: 30%;
    margin: 0;
    margin-top: 1.5rem;
    padding:1rem;
    border: 1px solid var(--contrast-color);
    border-radius: 2rem;
    background: var(--main-color);
    line-height: 2;
    max-width: 300px;
    transition: all 1s ease;
    cursor: pointer;
    user-select: none;
}

.cps:active{
    background: var(--in-bg);
    color: var(--deep-color);
}
#qsec {
    text-align: center;
    margin: 1rem auto 1rem auto;
}

#mail-select{
    background: var(--main-color);
    border-left: 1px solid var(--bt-deep);
    padding: 0;
    padding:0.5rem 0.5rem 0.5rem 0.2rem;
    transition: all 1s ease;
    color: var(--in-bg);
    
}

#mail-select:active{
    background: var(--in-bg);
    color: var(--deep-color);
}

@media screen and (max-width:767px){
    

    .logo {
        width: 6rem;
        height: 4rem;
        margin: 0.8rem;
     }

    .links {
        position: fixed;
        flex-direction: column;
        opacity:95%;
        right: 0;
        top: -200%;
        z-index: 1000;
        background-color: var(--main-color);
        border-radius: 0 0 0 38%;
    }

    #cross {
        display: flex;
    }

    #btt {
        display: flex;
    }
    #qform {
        width: 80%;
    }
    
    .cntbanner {
        padding-top: 10vh;
        width: 60%;
        height: 10%;
    }

    .cp{
        flex-direction: column;
    }
    
    .cps{
        line-height: 1;
        width: 90%;
        margin:auto;
        margin-bottom: 1.5rem;
    }


}

@media screen and (max-width:925px){
    .linkitem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}