:root {
    --font-headings : 'Nanum Myeongjo', serif;
    --font-links : 'Manrope', sans-serif;
    --font-superheads: 'Zen Tokyo Zoo', cursive;
    
    --vvbig-font-size: 4rem;
    --vbig-font-size: 3rem;
    --big-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size:1.125rem;
    --bnormal-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --main-color: #065446;
    --counter-color: #197163;
    --contrast-color: #FADCAC;
    --last-color:#158467;
    --deep-color:#001d17;
}
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin : 0;
    background: var(--deep-color);
}
html {
    scroll-behavior: smooth;
}


.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    width:100%;
    height: 10vh;
    justify-content: space-between;
    opacity: 90%;
    background-color:var(--main-color);
    
    z-index: 900;

}
#cross {
    display: none;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--big-font-size);
}
#btt {
    display: none;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--vbig-font-size);
    flex-direction: row;
    justify-content: right;
    width: fit-content;
    align-items: center;
    margin-right: 1rem;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    align-items: center;
    font-family: var(--font-headings);
    color: var(--contrast-color);
    font-size: var(--big-font-size);

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: fit-content;
    align-items: center;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--normal-font-size);
    transition: all 1s ease 0s;
    
}

.logo {
   width: 5rem;
   height: 5rem;
}

.linkitem {
    margin: 1.75rem;
}

.linkitem:hover {
    color:white;
}

.collection{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5rem;
}

.collection img {
width: 50%;
height: 50%;
box-shadow: 1px 2px 3px var(--deep-color);
}

.catcollection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.catlog {
    display: grid;
    width: 80%;
    padding:2rem;
    grid-template-columns: repeat(3,1fr);
    gap:2rem;
    align-items: center;
    margin: 0;
}

.catimgs{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    transition: all 0s ease 0s;
    border: 1px solid var(--contrast-color) ;
    justify-content: space-around;
    border-radius: 5%;
}

.catimgs:hover {
    background: whitesmoke;
    
}

.catimgs:hover span {
    color: black;
}
.catimgs span {
    padding: 1rem;
    transition: all 0s ease 0s;
    color: var(--contrast-color);
    font-size: var(--normal-font-size);
}

.catimg {
    width: 80%;
    height: 80%;
}

.catimg {
    padding: 0.5rem;
    border: 1px solid var(--deep-color);
    border-radius: 5%;
}

@media screen and (max-width:767px){
    .catlog{
        grid-template-columns: repeat(2, 1fr);
    }
    .links {
        position: fixed;
        flex-direction: column;
        opacity:95%;
        right: 0;
        top: -200%;
        z-index: 1000;
        background-color: var(--main-color);
        border-radius: 0 0 0 38%;
    }

    #cross {
        display: flex;
    }

    #btt {
        display: flex;
    }

    .div1 h1 {
        font-size: 1.8rem;
    }

    
}

@media screen and (max-width:480px){
    .catlog{
        grid-template-columns: repeat(1, 1fr);
    }
    .div1 h1 {
        font-size: 1.5rem;
    }
    .div1 span {
        font-size: 100%;
    }
    
}



.show {
    padding: 20%;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    /* background: var(--main-color); */
    /* opacity: 50%; */

}

.thelink {
    text-decoration: none;
    color: var(--contrast-color);
}

.thelink:hover{
    color: white;
}

   



.div1 h1 {
    display: inline;
    margin: 0;
}

.div1 span {
    font-size: 200%;
}

.div1 , .div2{
    display: flex;
    flex-direction: row;
    color: white;
    
    width: 100%;
    padding : 2rem;
    
}

.div1 {
    justify-content: space-between;
    font-size: var(--big-font-size);
    margin-top: 0;
    margin-bottom: 6rem;
}

.div2 {
    justify-content: space-around;
    border: 8px solid white;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: var(--main-color);  
    padding-top: 1rem; 
}

.social{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.scoaillink {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    
    
}

.bitem{
    display: inline;
    font-family: var(--font-links);
    color: white;
    font-size: var(--big-font-size);
    margin: 0.2rem;
    width: fit-content;
}
.arr{
    color: var(--contrast-color);
    font-family: dinpro, sans-serif;
    text-align: center;
    margin: 1rem 0 1rem 0;
}
