:root {
    --font-headings : 'Nanum Myeongjo', serif;
    --font-links : 'Manrope', sans-serif;
    --font-superheads: 'Zen Tokyo Zoo', cursive;
    
    --vvbig-font-size: 4rem;
    --vbig-font-size: 3rem;
    --big-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size:1.125rem;
    --bnormal-font-size: 2rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;
    --main-color: #065446;
    --counter-color: #197163;
    --contrast-color: #FADCAC;
    --last-color:#158467;
    --deep-color:#001d17;
}
* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin : 0;
}
html {
    scroll-behavior: smooth;
}


.header {
    display: flex;
    position: fixed;
    flex-direction: row;
    width:100%;
    height: fit-content;
    justify-content: space-between;
    opacity: 90%;
    background-color:var(--main-color);
    border-radius: 0 0 2rem 2rem;
    box-shadow: 1.5px 3px 4.5px white;
    
    z-index: 900;

}
#cross {
    display: none;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--big-font-size);
}
#btt {
    display: none;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--vbig-font-size);
    flex-direction: row;
    justify-content: right;
    width: fit-content;
    align-items: center;
    margin-right: 1rem;
}

.name{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: fit-content;
    align-items: center;
    font-family: var(--font-headings);
    color: var(--contrast-color);
    font-size: var(--big-font-size);

}

.links {
    display: flex;
    flex-direction: row;
    justify-content: right;
    width: fit-content;
    align-items: center;
    font-family: var(--font-links);
    color: var(--contrast-color);
    font-size: var(--normal-font-size);
    transition: all 1s ease 0s;
    
}

.logo {
   width: 8rem;
   height: 6rem;
   margin: 1rem;
}

.linkitem {
    margin: 1.75rem;
}

.linkitem:hover {
    color:white;
}
.banner_imgs {
    display: flex;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100%;
    transition: all 1s ease 0s;
    
}


.banner_img1 {
    display: block;
    width: 100%;
    height: 100%;
    transition: all 1s ease 0s;
}
    
.banner_img2 {
    display: block;
    width: 0;
    height: 100%;
    transition: all 1s ease 0s;
    
}
.banner_img3 {
    display: block;
    width: 0;
    height: 100%;
    transition: all 1s ease 0s;
    
}

#bannertext {
    position: absolute;
    background: transparent;
    width: fit-content;
    height: fit-content;
    color: black;
    border: 1px solid black;
    right: 10vw;
    top: 70vh;
    font-family: var(--font-headings);
    
    font-size: var(--vbig-font-size);
    transition: all 1s ease 0s;
    background-color:var(--contrast-color) ;
}
#bannerpara {
    position: absolute;
    background: transparent;
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
    color: black;
    right: 10vw;
    top: 80vh;
    
    font-family: 'Architects Daughter', cursive;
    font-size: var(--normal-font-size);
    transition: all 1s ease 0s;
    background-color:var(--contrast-color) ;
}

.dbody {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.acompany{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--deep-color);
    width: 100%;

}

.acompany h2 {
    color: #D2E69C;
    font-family: var(--font-headings);
}

.homepics img {
    width: 20vw;
    height: 20vw;
    margin: 2rem;
    border: 1px solid black;
    padding: 0.2rem;
}

.dimg{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dimg p {
    margin: 0.1rem;
}

.dimg h3 {
    margin: 0.2rem;
}

.acompany p {
    margin: 0.1rem;
    text-align: center;
    width: 80%;
    color: var(--contrast-color);
}

#rm1 {
    margin: 1.5rem;
    padding: 0.5rem 1rem;
    background: transparent;
    color: var(--contrast-color);
    border: 1px solid var(--contrast-color);
}


#rm1:hover{
    color: whitesmoke;
    border-color: whitesmoke;
}
.homepics {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.ql {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 2%;
    background-color: var(--deep-color);
    color: var(--contrast-color);
    transition: all 1s ease 0s;padding-bottom: 3rem ;
   
}

.qql, .product, .co {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    flex-wrap: wrap;
    
}

.qhead {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

.qsubhead {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.items {
    margin-top: 0.5rem;
    font-size: var(--normal-font-size);
    font-family: var(--font-links);
}

.showmenu {
    top : 10vh
}

@media screen and (max-width:767px){
    .ql{
        flex-direction: column;
        align-items: space-evenly;
        padding-left: 10%;
        
    }
    .banner_imgs{
        height: 45vh;
    }
#bannertext {
    right: 5vw;
    top: 30vh;

    font-size: var(--big-font-size);
    }

    .logo {
        width: 6rem;
        height: 4rem;
        margin: 0.8rem;
     }

    #bannerpara{
    right: 5vw;
    top: 35vh;
    font-size: var(--normal-font-size);
    }
    .links {
        position: fixed;
        flex-direction: column;
        opacity:95%;
        right: 0;
        top: -200%;
        z-index: 1000;
        background-color: var(--main-color);
        border-radius: 0 0 0 38%;
    }

    #cross {
        display: flex;
    }

    #btt {
        display: flex;
    }

    .homepics {
        flex-direction: column;
        align-items: center;
    }
    .homepics img {
        width: 80vw;
        height: 80vw;
        margin: 2rem;
        border: 1px solid black;
        padding: 0.2rem;
    }


}




.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    background-color: var(--main-color);  
    padding-top: 1rem; 
}

.social{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.scoaillink {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    
    
}

.bitem{
    display: inline;
    font-family: var(--font-links);
    color: white;
    font-size: var(--big-font-size);
    margin: 0.2rem;
    width: fit-content;
}
.arr{
    color: var(--contrast-color);
    font-family: dinpro, sans-serif;
    text-align: center;
    margin: 1rem 0 1rem 0;
}

@media screen and (max-width:925px){
    .linkitem{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.thelink {
    text-decoration: none;
    color: var(--contrast-color);
}

.thelink:hover{
    color: white;
}


/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY */
/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY */
/* GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY GALLERY */